@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  /* min-width: 320px; */
  /* min-height: 100vh; */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
